---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kompis ðŸ’’ðŸ’ðŸ‡«ðŸ‡·">
  <main>
    <div>Bryllup tjo og heiiii</div>
  </main>
</Layout>

<style>
  main {
    display: grid;
    justify-items: center;
  }
</style>
