---
const currentPath = Astro.url.pathname;

const extractPathStyle = (path: string) =>
  path !== currentPath ? "text-weddingBlue" : "text-black";

// fixme this is no longer a Navbar...
---

<nav
  class="navbar sticky top-0 p-2 flex justify-around gap-2 items-center text-xs uppercase tracking-wide md:text-lg lg:text-xl"
>
  <a href="/" class={extractPathStyle("/")}>Forside</a>
  <a href="/program" class={extractPathStyle("/program")}>Program</a>
  <a href="/praktisk" class={extractPathStyle("/praktisk")}>Praktisk</a>
  <a href="/rsvp" class={extractPathStyle("/rsvp")}>RSVP</a>
</nav>

<style>
  .navbar {
    animation: scroll-reveal linear forwards;
    animation-timeline: scroll();
  }

  @keyframes scroll-reveal {
    0% {
      background: none;
    }
    10%,
    100% {
      background: white;
    }
  }
</style>
