<nav class="bg-black h-10 text-white flex justify-around items-center">
  <a href="/">Forside</a>
  <a href="/program">Program</a>
  <a href="/praktisk">Praktisk info</a>
  <a href="/rsvp">RSVP</a>
</nav>
