---
import { cn } from "../utils/tw";
import Section from "./Section.astro";
interface Props {}
---

<Section
  title="'test'"
  className="w-screen grid bg-weddingBlue p-16 items-center justify-center"
>
  TEST
</Section>
