---
import Navbar from "../components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
import { cn } from "../utils/tw";

interface Props {
  title: string;
  bgImage?: string | null;
}

const { title, bgImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <div
      class={cn(
        "w-screen bg-cover bg-center bg-fixed grid grid-rows-[70px_1fr] bg-front-image min-h-[800px]",
        bgImage,
      )}
    >
      <Navbar />
      <slot />
    </div>
    <style is:global>
      html {
        font-family:
          Catchy Mager,
          sans-serif;
        background: white;
        color: white;
        background-size: 224px;
      }

      /* Register your custom font family and tell the browser where to find it. */
      @font-face {
        font-family: "Catchy Mager";
        src: url("/fonts/Catchy.ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </body>
</html>
