---
import Navbar from "../components/Navbar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <div class="mt-32 grid justify-center">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: Futura, sans-serif;
    background: white;
    color: black;
    background-size: 224px;
  }

  /* Register your custom font family and tell the browser where to find it. */
  @font-face {
    font-family: "WeddingText";
    src: url("/fonts/Angelina.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>
